<h1>Meet fellow dwellers:</h1>

<ul>
  <% @dwellers.each do |dweller| %>
    <li><%= dweller.name.humanize %>
      <ul>
        <li>Favorite plant: <%= dweller.favorite_plant %></li>
        <% if !dweller.home_id.nil? %>
          <li>Lives in <a href="/homes/<%= dweller.home_id %>"><%= dweller.home.nickname %></a></li>
          <br>
        <% end %>
      </ul></li>
  <% end %>
</ul>
