<% if flash[:message] %>
  <% flash[:message].each do |message| %>
    <%= message %>
    <br>
  <% end %>
<% end %>


<h1>Sign up:</h1>

<form action="/signup" method="post">

  <p>
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
  </p>

  <p>
  <label for="email">Email: </label>
  <input type="text" name="email" id="email">
  </p>

  <p>
  <label for="username">Username: </label>
  <input type="text" name="username" id="username">
  </p>

  <p>
  <label for="password">Password: </label>
  <input type="text" name="password" id="password">
  </p>

  <p>
  <label for="favorite_plant">Favorite Plant: </label>
  <input type="text" name="favorite_plant" id="favorite_plant">
  </p>

  <input type="submit" value="Create Dweller">

</form>
