<h1>Homes</h1>

<ul>
  <% @homes.each do |home| %>
    <li><%= home.nickname %></li>
      <ul>
        <% home.plants.each do |plant| %>
          <li><a href="/plants/<%= plant.id %>"><%= plant.common_name.humanize %></a> - <%= plant.scientific_name %></li>
          <% end %>
      <br>
    </ul>
  <% end %>
</ul>
