<h1>Welcome to PlantDwellers!</h1>

<p>This is an app designed to help people who live together track their houseplants as well as share in the care of these plants.</p>

<h3>To get started tracking your plants, click <a href="/signup">sign up</a> or <a href="/login">log in</a>!</h3>
